nav {
    background-color: #496F5D;
    padding: 20px;
    font-family: outfit;
    border: 0;
    display: flex;
    justify-content: space-between; /* Espaço entre os dois grupos */
    align-items: center;
    height: 10vh;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: flex-start; /* Alinha os itens à esquerda */
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a{
    display: flex; /* Garante que o ícone e o texto fiquem lado a lado */
    align-items: center; /* Centraliza verticalmente o ícone e o texto */
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.titulo{
    color: #F1E9DB;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #4C9F70;
    border-radius: 20px;
}

nav ul li a i {
    font-size: 20px; /* Aumenta o tamanho do ícone */
    vertical-align: middle; /* Alinha o ícone verticalmente com o texto */
    margin-right: 8px; /* Adiciona espaçamento entre o ícone e o texto */
}



/* Fazendo com que o primeiro item fique na esquerda e o restante à direita */
nav ul li:first-child {
    margin-right: auto; /* Empurra os itens seguintes para a direita */
}

nav ul li:not(:first-child) {
    margin-left: 20px; /* Espaço entre os itens à direita */
}