/* home.component.css */

/* O contêiner principal ocupa toda a altura da tela */
.home {
  display: flex;
  justify-content: center;  /* Centraliza os elementos horizontalmente */
  align-items: center;  /* Centraliza os elementos verticalmente */
  height: 90vh;  /* Ocupa toda a altura da tela */
  font-family: outfit;
}

/* Os lados (lado1 e lado2) vão ficar ao lado um do outro */
.lado1, .lado2 {
  width: 100%;
  height: 100%;  /* Ajusta a largura de cada lado */
  display: flex;  /* Usa o modelo flexbox */
  flex-direction: column;  /* Alinha os itens em coluna */
  justify-content: center;  /* Centraliza verticalmente os itens dentro de cada lado */
  align-items: center;  /* Centraliza horizontalmente os itens dentro de cada lado */
  text-align: center;  /* Garante que o texto dentro dos lados também esteja centralizado */
}

.lado1{
  background-color: #496F5D;

}

h1 {
  font-size: 4em;
  color: #F1E9DB;
}

p {
  font-size: 1.5em;
  color: #F1E9DB;
}

.btn-iniciar {
  padding: 10px 20px;
  background-color: #4C9F70;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: transform 0.3s ease; /* Definindo a transição */
  transform: scale(1); /* Tamanho normal do botão */
}

.btn-iniciar:hover {
  background-color: #88ba9d;
  transform: scale(1.1); /* Faz o botão crescer no hover */
}


h2 {
  font-size: 2em;
  color: #333;
  font-weight: 500;
  display: inline-block;
}

span {
  display: inline-block;
  color: #4C9F70;  /* Cor do texto sendo "digitado" */
  font-weight: 600;
}